{% extends "registration/registration_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <section style="width: 1000px">
        <article class="my-article">
            <h1 class="header" style="padding-bottom: 30px; font-family:Georgia;">Sign in to CFP</h1>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <aside style="width: 250px;">
                <button id="facebook" class="btn" style="width: 243px; height: 43px; background:#3b5998; ">
                    <i class="facebook_24"></i>
                    <span style="text-shadow:none; font-size: large">Sign in with Facebook</span>
                </button>
                <p></p>
                <button id="twitter" class="btn" style="width: 243px; height: 43px; background: #22b8e9; ">
                    <i class="twitter_24"></i>
                    <span style="text-shadow:none; font-size: large; margin-left: 4px">Sign in with Twitter</span>
                </button>
            </aside>

            <div class="main">
                <form id="SignInForm" action="" method="post" class="well"
                      style="margin-top: -110px; padding-top: 0px;">{% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <p><a href="{% url auth_password_reset %}">Forgot</a> your password? <a
                            href="{% url registration_register %}">Need
                        an account</a>?</p>
                </form>
            </div>
            <div id="article_footer" style="background-color: #ffffff; height: 60px">
                <input form="SignInForm" type="submit" class="btn square" value="Sign in"
                       style="text-align:center;height: 40px; width: 80px; margin-left: 88%; margin-top: 10px">
            </div>
        </article>
    </section>
{% endblock %}



