{% extends "registration/registration_base.html" %}

{% block title %}Confirm password reset{% endblock %}
{% block content %}
    <div style="width: 300px; height: 250px;padding: 50px;">
        <h4 style="width: 300px; height: 22px; color: rgb(121, 124, 128); margin-bottom: 20px;">
            Password Reset
        </h4>
        <form>
            {{ form }}
        </form>
    </div>

{#    <form method="post" action="">{% csrf_token %}#}
{#        <table>#}
{#            {{ form.as_table }}#}
{#            <tr>#}
{#                <td></td>#}
{#                <td><input type="submit" class="btn" value="Set password"/></td>#}
{#            </tr>#}
{#        </table>#}
{#    </form>#}
{% endblock %}
