{% extends "registration/registration_base.html" %}

{% load display_errors %}

{% block title %}Reset password{% endblock %}
{% block content %}
    {% if form.errors %}
        <div style="position: absolute;margin-left: 652px;margin-top: -3.7%;">
            <div style="height: 100%; width: 100%; margin-top: 50px; margin-right: -45px;" class="alert alert-error">
                <div style="width: 100%; margin-bottom: -10px;">
                    {{ form|display_errors:""|safe }}
                </div>
            </div>
        </div>
    {% endif %}
    <article style="width: 700px; height: 268px; position: relative; margin-top: 20%; margin-left: 25%">
        <header style="margin-bottom: 35px; width: 100%">
            <h1 class="header" style="width: 35%; padding-bottom: 0px;color: #797C80">Sign in help</h1>
        </header>
        <section style="width: 100%; padding-bottom: 10px; height: 73px">
            <center>
            <div style="width: 250px" class="confirmation">
                <h5 style="width: 300px; height: 32px; color: #797C80;">Your new password request has been sent.</h5>
                <p style="color: #797C80;">We have emailed you instructions on how to reset your password.</p>
            </div>
            </center>
        </section>
        <footer style="background-color: rgb(255, 255, 255); width: 97%; height: 35px; margin-top: 55px; padding: 10px; bottom: 0px">
            <a href="/accounts/login/"><input type="submit" class="btn" value="Sign in" style="float: right; margin-top: -2px;"></a>
        </footer>
    </article>
{% endblock %}
