{% extends "registration/registration_base.html" %}

{% load display_errors %}

{% block title %}Confirm password reset{% endblock %}
{% block content %}
    {% if form.new_password1.errors %}
        <div style="position: absolute;margin-left: 52px; margin-top: -3.7%;">
            <div style="height: 100%; width: 100%; margin-top: 35px; margin-right: -45px;" class="alert alert-error">
                <div style="width: 100%; margin-bottom: -10px;">
                    {{ form|display_errors:"new_password2"|safe }}
                </div>
            </div>
        </div>
    {% endif %}
    <div style="width: 300px; height: 250px;padding: 50px; margin-top: 25px;">
        <h4 style="width: 300px; height: 22px; color: rgb(121, 124, 128); margin-bottom: 20px;">
            Password Reset
        </h4>
        <form method="post" action="">{% csrf_token %}
            <div {% if form.new_password1.errors %}class="error-alert"{% endif %}>
                <p>
                    {{ form.new_password1.label }}
                    {{ form.new_password1 }}
                </p>
            </div>
            <div {% if form.new_password2.errors %}class="error-alert"{% endif %}>
                <p>
                    {{ form.new_password2.label }}
                    {{ form.new_password2 }}
                </p>
            </div>

            <input type="submit" class="btn btn-small" value="Reset password"/>
        </form>
    </div>
{% endblock %}