{% extends 'base.html' %}

{% block title %} Sign Up form {% endblock %}

{% load display_errors %}
{% load show_label %}

{% block content %}
    {% if form.errors %}
    <div style="position: absolute;margin-left: 600px;margin-top: -15%;">
        <div style="height: 100%; width: 100%; margin-top: 50px; margin-right: -45px;" class="alert alert-error">
            <div style="width: 100%; margin-bottom: -10px;">
                 {{ form|display_errors:"day_dob, month_dob, year_dob"|safe }}
            </div>
        </div>
    </div>
    {% endif %}
    <section class="main-section" style="">
        <article class="my-article">
            <h1 class="header" style="font-family: bentonsans, 'Times New Roman', cursive">Sign up</h1>
            <aside class="main-aside">
                <button id="facebook" class="btn" style="background:#3b5998;">
                    <div>
                        <div>
                            <i class="facebook_24"></i>
                        </div>
                        <div class="facebook-btn-div">
                            <span class="facebook-btn-span">Sign in with Facebook</span>
                        </div>
                    </div>
                </button>
                <p></p>
                <button id="twitter" class="btn" style="background: #22b8e9;">
                    <div>
                        <div>
                            <i class="twitter_24"></i>
                        </div>
                        <div class="twitter-btn-div">
                            <span class="twitter-btn-span">Sign in with Twitter</span>
                        </div>
                    </div>
                </button>
            </aside>
            <form id="sign_up_form" method="post" class="well form"
                  style="margin-bottom: 10%;float: right; width:500px">{% csrf_token %}
                <div class="main">
                    <div class="left-block" style="float: left; padding-right: 60%; margin-left: -230px;">
                        {{ form.username.label }}
                        <div {% if form.username.errors %}class="error-alert"{% endif %}>
                            {{ form.username }}
                        </div>
                        {{ form.password1.label }}
                        <div {% if form.password1.errors %}class="error-alert"{% endif %}>
                            {{ form.password1 }}
                        </div>
                        {{ form.first_name.label }}
                        <div {% if form.first_name.errors %}class="error-alert"{% endif %}>
                            {{ form.first_name }}
                        </div>
                        {{ form.gender.label }}
                        <div>
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="right-block" style="float: right">
                        {{ form.email.label }}
                        <div {% if form.email.errors %}class="error-alert"{% endif %}>
                            {{ form.email }}
                        </div>
                        {{ form|show_label:'Date of birth' }}
                        <div style="height: 50px" {% if form.errors.date_of_birth %}class="error-alert"{% endif %}>
                            {{ form.day_dob }}
                            {{ form.month_dob }}
                            {{ form.year_dob }}
                        </div>
                        <p></p>
                        {{ form.last_name.label }}
                        <div {% if form.last_name.errors %}class="error-alert"{% endif %}>
                            {{ form.last_name }}
                        </div>
                        {{ form.profession.label }}
                        <div {% if form.profession.errors %}class="error-alert"{% endif %}>
                            {{ form.profession }}
                        </div>
                    </div>
                </div>
                <input type="submit" class="submit btn" value="Sign up" tabindex="10">
                <div class="article-footer" style="">
                    <br>
                <span class="my-span" style="float: left;">By clicking Create account, you agree to the <a href="#">terms
                    of service</a> and <a
                        href="#">privacy policy</a></span>
                </div>
            </form>
        </article>
    </section>
{% endblock %}