{% extends 'base.html' %}

{% block title %} Sign Up form {% endblock %}

{% block content %}
    {% if form.errors %}

        <div style="height: 145px; width: 470px; margin-left: 580px; margin-top: 90px;margin-bottom: -300px;" class="alert alert-error">
            <div style="width: 200px; float: left">
                {% if form.username.errors %}
                    {{ form.username.errors.as_text }}
                    <p></p>
                {% endif %}

                {% if form.password1.errors %}
                    {{ form.password1.errors.as_text }}
                    <p></p>
                {% endif %}
                {% if form.first_name.errors %}
                    {{ form.first_name.errors.as_text }}
                    <p></p>
                {% endif %}

                {% if form.gender.errors %}
                   {{ form.gender.errors.as_text }}
                    <p></p>
                {% endif %}
            </div>
            <div style="float: right; width: 220px;" >

                {% if form.email.errors %}
                    {{ form.email.errors.as_text }}
                    <p></p>
                {% endif %}

                {% if  form.dob_at.errors%}
                    {{ form.dob_at.errors.as_text }}
                    <p></p>
                {% endif %}

                {% if form.last_name.errors%}
                    {{ form.last_name.errors.as_text }}
                    <p></p>
                {% endif %}

                {% if form.profession.errors%}
                    {{ form.profession.errors.as_text }}
                    <p></p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <section class="main-section" style="">
        <article class="my-article">
            <h1 class="header">Sign up</h1>

            <aside class="main-aside">
                <button id="facebook" class="btn" style="background:#3b5998;">
                    <div>
                        <div>
                            <i class="facebook_24"></i>
                        </div>
                        <div class="facebook-btn-div">
                            <span class="facebook-btn-span">Sign in with Facebook</span>
                        </div>
                    </div>
                </button>
                <p></p>
                <button id="twitter" class="btn" style="background: #22b8e9;">
                    <div>
                        <div>
                            <i class="twitter_24"></i>
                        </div>
                        <div class="twitter-btn-div">
                            <span class="twitter-btn-span">Sign in with Twitter</span>
                        </div>
                    </div>
                </button>
            </aside>
            <form id="sign_up_form" method="post" class="well form" style="margin-bottom: 10%;float: right; width:500px">{% csrf_token %}
            <div class="main">

                    <div class="left-block" style="float: left; padding-right: 60%; margin-left: -230px;">
                        {{ form.username.label }}
                        {{ form.username }}
                        {{ form.password1.label }}
                        {{ form.password1 }}
                        {{ form.first_name.label }}
                        {{ form.first_name }}
                        {{ form.gender.label }}
                        {{ form.gender }}
                    </div>
                    <div class="right-block" style="float: right">
                        {{ form.email.label }}
                        {{ form.email }}
                        {{ form.dob_at.label }}

                        {{ form.day_dob}}
                        {{ form.month_dob}}
                        {{ form.year_dob}}

                        {{ form.last_name.label }}
                        {{ form.last_name }}
                        {{ form.profession.label }}
                        {{ form.profession }}
                    </div>

            </div>
            </form>
            <div class="article-footer" style="margin-top: 250px;">
                <br>
                <span class="my-span" style="float: left">By clicking Create account, you agree to the <a href="#">terms of service</a> and <a
                        href="#">privacy policy</a></span>
                <input type="submit" class="submit btn" form="sign_up_form" value="Sign up">
            </div>
        </article>
    </section>
{% endblock %}