<!DOCTYPE html>
<html>
<head>
{#    <script src="/static/js/jquery-1.8.3.js" type="text/javascript"></script>#}
{#    <script src="/static/js/languages/jquery.validationEngine-en.js" type="text/javascript"></script>#}
{#    <script src="/static/js/jquery.validationEngine.js" type="text/javascript"></script>#}
{#    <script src="/static/js/form_validate.js" type="text/javascript"></script>#}

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background: #EEEEEE">
{% block header %}{% endblock %}

{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>