{% extends "base.html" %}


{% block content %}
{#    <table class="table table-striped">#}
{#        <tbody>#}
{#        <tr>#}
{#            <td>#</td>#}
{#            <td>Username</td>#}
{#            <td>First name</td>#}
{#            <td>Last name</td>#}
{#            <td>e-mail</td>#}
{#            <td>password</td>#}
{#            <td>Gender</td>#}
{#            <td>Date of birth</td>#}
{#        </tr>#}
        {% for backer in backer %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ backer.username }}</td>
                <td>{{ backer.first_name }}</td>
                <td>{{ backer.last_name }}</td>
                <td>{{ backer.email }}</td>
                <td>{{ backer.password }}</td>
                <td>{{ backer.gender }}</td>
                <td>{{ backer.dob_at }}</td>
                <td><a href="/student_registration/{{ backer.id }}/student_form">Edit</a></td>
            </tr>
        {% endfor %}
{#        </tbody>#}
{#    </table>#}
{% endblock %}