{% extends 'base.html' %}

{% block title %} Sign in form {% endblock %}

{% block content %}
    <section style="width: 1000px">
        <article style="margin-left: 400px; margin-top: 217px; height: 300px">
            <h1 style="font-family: Courier; color: #9999A5;">Sign ip to CFP</h1>

            <aside style="width: 220px;">
                <button id="twitter" class="btn" style="width: 220px;height: 50px; background: #22b8e9; color: #ffffff">
                    <i class="twitter_24"></i>
                    <span style="font-size: 121%">Sign in with Twitter</span>
                </button>
                <p></p>
                <button id="facebook" class="btn" style="width: 220px;height: 50px; background:#3b5998; color: #ffffff">
                    <i class="facebook_24"></i>
                    <span style="font-size: 121%">Sign in with Facebook</span>
                </button>
            </aside>

            <div style="margin-left: 230px">
                <form action="" method="post" class="well"
                      style="background: none repeat scroll 0% 0% rgb(238, 238, 238); margin-top: -30%; border-width: 0px;">{% csrf_token %}
                    <a id="pass_recovery" href="#">Forgot password?</a>
                    <input type="checkbox" style="margin-top: 0px;">Stay signed in
                </form>
            </div>
            <div id="formFooter" style="margin-bottom: inherit">
                <button type="submit" class="btn" style="float:right;color: #ffffff; background: #008DDD; height: 40px">
                    Sign in
                </button>
            </div>
        </article>
    </section>
{% endblock %}